@import '../../styles/base';

.country-list {
  margin: 5rem auto 0 auto;
  max-width: 1080px;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__sort {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      margin-right: 1rem;
      font-weight: weight(medium);
    }
    #sort-country-select {
      color: $primary !important;
      font-weight: weight(medium);
      //select list
    }
    svg {
      color: $primary;
      font-weight: weight(medium);
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    button.MuiButtonBase-root.MuiIconButton-root.Mui-disabled.Mui-disabled {
      background: transparent !important;
    }
    .MuiTableCell-root {
      border-bottom: none !important;
    }
  }
}
