@import '../../styles/base';

.table-wrapper {
  margin-top: 10px;
  width: 1080px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  box-shadow: $boxShadow;
  width: 1080px;
  border-radius: 10px;
  justify-content: space-between;
  font-size: large;
  margin-bottom: 20px;

  &__flag {
    padding-left: 80px;
  }

  &__country {
    padding-left: 150px;
  }
  &__region {
    padding-left: 130px;
  }
  &__population {
    margin-left: 80px;
  }
  &__action {
    padding-right: 50px;
  }
}
